################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ofl.Core/bin
/Ofl.Core/obj
/Ofl.Core/Ofl.Core.xproj.user

